name: Terraform Deploy

on:
  workflow_dispatch:      # Manual trigger
  push:
    branches:
      - main              # Auto-trigger on push to main

permissions:
  contents: read
  id-token: write

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ./DBA
        run: terraform init

      - name: Terraform Format Check
        working-directory: ./DBA
        run: terraform fmt -check

      - name: Terraform Validate
        working-directory: ./DBA
        run: terraform validate

      - name: Terraform Plan
        working-directory: ./DBA
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: ./DBA
        run: terraform apply -auto-approve
